<section class='lh-limited'>
  <div class='lh-card'>
    <div class='lh-row'>
      <img class='lh-avatar' src='{{actor.img}}' alt='{{actor.name}}' />
      <div class='lh-text'>
        <h1 class='lh-name'>{{actor.name}}</h1>
        <hr class='lh-sep' />
        <div class='lh-desc'>
          {{{system.identity.description}}}
        </div>
      </div>
    </div>
  </div>
</section>